<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--<connectionStrings>
    <add name="OrderContext" connectionString="data source=QDORXeCXL16.loyaltytravelservices.com\CoreSQLORXeCXL,14332;initial catalog=d1ORDER;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="OrderDB" connectionString="Data Source=QDORXeCXL16.loyaltytravelservices.com\\CoreSQLORXeCXL,14332;Integrated Security=True;initial catalog=d1ORDER"/>
  </connectionStrings>
  <appSettings>
    <add key="QueueMessageGroupId" value="1" />
    <add key="QueueProviderUrl" value="https://sqs.us-east-2.amazonaws.com" />
    <add key="QueueServiceUrl" value="https://sqs.us-east-2.amazonaws.com/694055993363/Aurora.fifo" />
    <add key="AWSRegion" value="us-east-2" />
    <add key="AWSProfileName" value="development" />
    <add key="AWSProfilesLocation" value="C:\\Config\\cred" />
  </appSettings>
</configuration>